<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Miguel Coutada</string>
	<key>Builder Version</key>
	<string>10600.1.25</string>
	<key>CFBundleDisplayName</key>
	<string>SMF unread topics</string>
	<key>CFBundleIdentifier</key>
	<string>com.miguelcoutada.safari.smf-unread</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<real>52</real>
				<key>Identifier</key>
				<string>popover</string>
				<key>Width</key>
				<real>275</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>get-unread</string>
				<key>Identifier</key>
				<string>smftoolbar</string>
				<key>Image</key>
				<string>images/smf.png</string>
				<key>Label</key>
				<string>smftoolbar</string>
				<key>Menu</key>
				<string></string>
				<key>Palette Label</key>
				<string>SMF Unread Topics</string>
				<key>Popover</key>
				<string>popover</string>
				<key>Tool Tip</key>
				<string>Opens unread topics at SMForum</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
		<key>Stylesheets</key>
		<array>
			<string>scripts/injected.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Open unread topics on new tabs</string>
	<key>DeveloperIdentifier</key>
	<string><!-- YOUR APPLE DEV ID --></string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string><!-- URL TO update.plist Ex: YOURHOST/update.plist --></string>
</dict>
</plist>
